<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/applyLoan.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Apply for a Loan</title>
</head>
<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href=""><img src="static/logo.png" alt="" class="logo2"></a></div>
            <ul>
                <li><a href="clientInt.html">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                <button id="button"><a href="login.html">Sign Out</a></button>
            </ul>
        </div>
    </nav>
    <center>
    <div class="container">
        <header>Welcome {name}, Please complete the loan application form below:</header>
        <br>
        <header>Loan Application form</header>
        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Input Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Preferred Amount</label>
                            <input id="amount" type="number" placeholder="Enter your Amount" name="amount" required min="">
                        </div>
                        <div class="input-field">
                            <label>Type of Loan</label>
                            <select name="type" id="type">
                                <option value="Any">Select a term</option>
                                <option value="Short-term">Short Term</option>
                                <option value="Long-term">Long Term</option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label>Start Date</label>
                            <input id="startd" type="date" placeholder="Enter your name" name="startd" required>
                        </div>
                        <div class="input-field">
                            <label>End Date</label>
                            <input id="endd" type="date" placeholder="Enter your name" name="endd" required>
                        </div>
                        <div>{{errmsg}}</div>
                    </div>
                    <br><br>
                    
                    <button class="nextBtn">
                        <span class="btnText">Submit</span>
                    </button>
                </div>
                
            </div>
        </form>
        <div id="formOutput"></div>
        <button class="nextBtn">
            <span class="btnText" onclick="window.location.href = 'clientInt.html';">Cancel</span>
        </button>
        
    </div>
    </center>
    
</body>
<footer>
    <div class="footer-content">
        <ul class="socials">
            <li><a href="#"><i class="fa fa-solid fa-gear"></i></i></a></li>
            <li><a href="#"><i class="fa fa-sharp fa-solid fa-bell"></i></a></li>
            
        </ul>
        <h4>T Bank </h3>
        <p>"The Better Way To Bank"</p>
        
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2023 T Bank. </p>
    </div>
</footer>
</html>