<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Balance Account</title>
        <link rel="stylesheet" href="static/bAcc.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <body>
        <nav class="navbar">
            <div class="navdiv">
                <div class="logo"><a href=""><img src="static/logo.png" alt="" class="logo2"></a></div>
                <ul>
                    <li><a href="clientInt.html">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                    
                </ul>
            </div>
        </nav>
        <center>
        <div class="options">
            <button class="nextBtn">
                <span class="btnText" onclick="window.location.href = 'TransFunds.html';">Transfer Funds between Accounts</span>
            </button>
            <button class="nextBtn">
                <span class="btnText" onclick="window.location.href = 'SendMoney.html';">Send Money</span>
            </button>
            
            <button class="nextBtn">
                <span class="btnText" onclick="window.location.href = 'WireT.html';">Wire Transfer</span>
            </button>

            
            <button class="nextBtn">
                <span class="btnText" onclick="window.location.href = 'AutoPay.html';">Set Automatic Payments</span>
            </button>
            <button class="nextBtn">
                <span class="btnText" onclick="window.location.href = 'BlockAcc.html';">Block Account</span>
            </button>
        </div>
        </center>
        <main>
            <div class="page-header">
                <div>
                    <h1>MY ACCOUNTS</h1>
                    <small>Welcome {{name}}, Monitor your aaccount activity below:</small>
                </div>

                <div class="cards">
                    <div class="card-single">
                        <div class="card-flex">
                            <div class="card-info">
                                <div class="card-head">
                                    <span>Cheaquings - {{caccno}}</span>
                                    <small>Balance:</small>
                                </div>
                                <h2>{{cbalance}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main> 
        <center>
            <div class="transTable">
                <h1>Transaction Record</h1>
                <table class="content-table">
                    <thead>
                        <tr>
                            <th>Amount</th>
                            <th>Sender</th>
                            <th>Reciever</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="transaction_amount">{{transactionAmount}}</td>
                            <td class="transaction_sender">{{transactionSender}}</td>
                            <td class="transaction_reciever">{{transactionReceiver}}</td>
                            <td class="transaction_date">{{transactionDate}}</td>
                        </tr>
                        <tr>
                            <td class="transaction_amount">{{transactionAmount}}</td>
                            <td class="transaction_sender">{{transactionSender}}</td>
                            <td class="transaction_reciever">{{transactionReceiver}}</td>
                            <td class="transaction_date">{{transactionDate}}</td>
                        </tr>
                        <tr>
                            <td class="transaction_amount">{{transactionAmount}}</td>
                            <td class="transaction_sender">{{transactionSender}}</td>
                            <td class="transaction_reciever">{{transactionReceiver}}</td>
                            <td class="transaction_date">{{transactionDate}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </center> 
    </body>
    <footer>
        <div class="footer-content">
            <ul class="socials">
                <li><a href="#"><i class="fa fa-solid fa-gear"></i></i></a></li>
                <li><a href="#"><i class="fa fa-sharp fa-solid fa-bell"></i></a></li>
                
            </ul>
            <h4>T Bank </h3>
            <p>"The Better Way To Bank"</p>
            
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2023 T Bank. </p>
        </div>
    </footer>
</html>