<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/thome">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div class="registration">
        <div class="form">
            <form class="reg-form" method="POST" action="/regp">
                <input type="text" placeholder="username" name="username" />
                <input type="text" placeholder="name" name="name" />
                <input type="text" placeholder="email" name="email" />
                <input type="text" placeholder="phone" name="phone" />
                <input type="text" placeholder="addrress" name="addr" />
                <button>login</button>
            </form>
        </div>
    </div>
</body>

</html>