<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send an E-Transfer</title>
    <link rel="stylesheet" href="CSS/SendMoney.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href=""><img src="CSS/logo.png" alt="" class="logo2"></a></div>
            <ul>
                <li><a href="clientInt.html">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                
            </ul>
        </div>
    </nav>
<br><br><br>
    <center><div class="container">
        <center><header>Welcome {name}</header>
        <br>
        <header>Interac e-Transfer® - Send Money</header></center>
        <form action="sendmoneyProc" method ="POST">
            <div class="form first">
                <div class="details personal">
                    <span class="title">From:</span>

                        <div class="input-field">
                            <label>Type of Account</label>
                            <select name="acctype" id="type">
                                <option value="Any">Select An Account</option>
                                <option value="Savings">Savings Account</option>
                                <option value="Checkings">Chequing Account</option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label>Amount ($):</label>
                            <input id="amount" type="number" placeholder="Enter Amount" name="amount">
                        </div>

                    <br><br><br>
                    <span class="title">To:</span>
                    <div class="input-field">
                        <label>Recipent's Name</label>
                        <input id="sname" type="text" placeholder="Enter Name" name="rname" required>
                    </div>
                    <div class="input-field">
                        <label>Recipent's email</label>
                        <input id="semail" type="email" placeholder="Enter email" name="remail">
                    </div>
                    <div class="input-field">
                        <label>Recipent's Phone</label>
                        <input id="amount" type="number" placeholder="Enter number" name="rphone">
                    </div>
                        
                    </div>
                    <br><br>
                    
                    <button class="nextBtn">
                        <span class="btnText">Send Money</span>
                    </button>
                </div>
                
            </div>
        </form>
    </div></center>
    <br><br>
    
</body>
<footer>
    <div class="footer-content">
        <ul class="socials">
            <li><a href="#"><i class="fa fa-solid fa-gear"></i></i></a></li>
            <li><a href="#"><i class="fa fa-sharp fa-solid fa-bell"></i></a></li>
            
        </ul>
        <h4>T Bank </h3>
        <p>"The Better Way To Bank"</p>
        
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2023 T Bank. </p>
    </div>
</footer>
</html>