<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send a Wire Transfer</title>
    <link rel="stylesheet" href="static/SendMoney.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href=""><img src="static/logo.png" alt="" class="logo2"></a></div>
            <ul>
                <li><a href="clientInt.html">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                
            </ul>
        </div>
    </nav>
<br><br><br>
    <center><div class="container">
        <center><header>Welcome {name}</header>
        <br>
        <header>Wire Transfer- Send Money from Bank to Bank easily</header></center>
        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="title"> Sender's Information</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Full Name</label>
                            <input id="sname" type="text" placeholder="Enter Name" name="amount" required>
                        </div>
                        <div class="input-field">
                            <label>Account number</label>
                            <input id="saccno" type="number" placeholder="Enter account number" name="amount">
                        </div>
                        <div class="input-field">
                            <label>Institution number</label>
                            <input id="saccno" type="number" placeholder="Enter Institution number" name="amount">
                        </div>
                        <div class="input-field">
                            <label>Transit number</label>
                            <input id="saccno" type="number" placeholder="Enter Transit number" name="amount">
                        </div>
                        <div class="input-field">
                            <label>Routing number</label>
                            <input id="saccno" type="number" placeholder="Enter Routing number" name="amount">
                        </div>
                        <br><br><br>

                        <span class="title">Name of Bank and Address</span>
                        <div class="input-field">
                            <label>Bank Name:</label>
                            <input id="sname" type="text" placeholder="Enter Bank Name" name="amount" required>
                        </div>
                        <div class="input-field">
                            <label>Branch Address:</label>
                            <input id="sname" type="text" placeholder="Enter Bank Address" name="amount" required>
                        </div>
                       
                        
                        
                        
                        

                    <br><br><br>
                    <span class="title">Beneficiary's Information</span>
                    <div class="input-field">
                        <label>Full Name</label>
                        <input id="sname" type="text" placeholder="Enter Name" name="amount" required>
                    </div>
                    <div class="input-field">
                        <label>Mailing Address:</label>
                        <input id="sname" type="text" placeholder="Enter Bank Address" name="amount" required>
                    </div>
                    <div class="input-field">
                        <label>Account number/IBAN</label>
                        <input id="saccno" type="number" placeholder="Enter account number" name="amount">
                    </div>
                    <div class="input-field">
                        <label>Transit number/Routing Number</label>
                        <input id="saccno" type="number" placeholder="Enter Routing number" name="amount">
                    </div>
                    

                    <br><br><br>
                    <span class="title">Transaction Amount</span>

                    <div class="input-field">
                        <label>Amount Being Sent ($)</label>
                        <input id="saccno" type="number" placeholder="Enter Routing number" name="amount">
                    </div>

                        
                    </div>
                    <br><br>
                    
                    <button class="nextBtn">
                        <span class="btnText">Send Wire Transfer</span>
                    </button>
                </div>
                
            </div>
        </form>
    </div></center>
    <br><br>
    
</body>
<footer>
    <div class="footer-content">
        <ul class="socials">
            <li><a href="#"><i class="fa fa-solid fa-gear"></i></i></a></li>
            <li><a href="#"><i class="fa fa-sharp fa-solid fa-bell"></i></a></li>
            
        </ul>
        <h4>T Bank </h3>
        <p>"The Better Way To Bank"</p>
        
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2023 T Bank. </p>
    </div>
</footer>
</html>